name: CI

on:
  push:
  pull_request:

jobs:
  run-tests:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install

      - name: Start server
        run: |
          if [ $RUNNER_OS = 'Windows' ]; then
            start /B python app.py
          else
            python app.py &
          fi
        env:
          FLASK_ENV: testing
        
      - name: Wait for server
        shell: python
        run: |
          import time, sys, requests
      
          url = "http://localhost:5000"
          for _ in range(30):
              try:
                  r = requests.get(url)
                  if r.status_code == 200:
                      print("Server ready")
                      sys.exit(0)
              except requests.exceptions.ConnectionError:
                  pass
              time.sleep(1)
      
          print("Server failed to start in time")
          sys.exit(1)
        

      - name: Run tests
        run: pytest --cov --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
